<h1>Reset Password</h1>
<%- include ("./partials/message") %>
<form action="/users/resetPassword" method="POST">
<label for="newPassword">New Password</label>
<input type="password" name="newPassword" id="email" placeholder="Enter new Password"> 
<br>
<input type="hidden" name="userId" id="userId" value=" <%= userId %> ">
<br>
<input type="hidden" name="resetString" id="resetString" value=" <%= resetString %> ">

<button type="submit">Enter</button>
</form>

<p>
  <a href="/">Home</a>
</p>
